---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import Photo from "@components/Photo.astro";

const photos = await getCollection("photos");
---

<BaseLayout title="photos">
  <div class="flex flex-row flex-wrap gap-4 justify-around">
    {
      photos.sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
        .map((photo) => (
        <Photo
          link={`photos/${photo.id}`}
          image={photo.data.square}
          title={photo.data.title}
          city={photo.data.city}
          state={photo.data.state}
          country={photo.data.country}
          date={photo.data.date}
        />
      ))
    }
  </div>
</BaseLayout>
