---
import { type InferGetStaticPropsType, type GetStaticPaths } from "astro";
import Article from "@/components/Article.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Cover, { type CoverType } from "@/components/Cover.astro";
import License from "@/components/License.astro";
import { getPages, getPosts } from "@/content";
import { getCoverData } from "@/image";

export const getStaticPaths = (async () => {
  const pages = await getPages();
  const posts = await getPosts();
  return [
    ...pages.map((page) => ({
      params: { post: page.slug },
      props: { page, license: false },
    })),
    ...posts.map((page) => ({
      params: { post: page.slug },
      props: { page, license: true },
    })),
  ];
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;
const { page, license } = Astro.props;
const posts = await getPosts();
const index = posts.findIndex((other) => other.id === page.id);
const { Content } = await page.render();
const cover = await getCoverData(page.data.cover as CoverType);
---

<BaseLayout
  tab={page.data.tab ?? "posts"}
  title={page.data.title}
  description={page.data.description}
  keywords={page.data.tags}
  image={cover.data.wide}
  imageDescription={cover.data.description}
  date={page.data.date}
>
  <div class="flex flex-col items-center gap-4 sm:gap-12 lg:gap-24">
    <Cover
      image={cover}
      previous={index > 0 ? posts[index - 1].slug : undefined}
      next={index >= 0 && index < posts.length - 1
        ? posts[index + 1].slug
        : undefined}
      actionHref={cover.id !== undefined
        ? `/photography/${cover.id}`
        : undefined}
      actionIcon="heroicons:photo-solid"
      actionAlt="Image details"
    />
    <Article title={page.data.title} date={page.data.date}>
      <Content />
      {
        license ? (
          <License icons="ðŸ…­ðŸ„">
            This article is dedicated to the public domain under the{" "}
            <a
              rel="license"
              href="https://creativecommons.org/publicdomain/zero/1.0/"
            >
              Creative Commons CC0 1.0 Universal (CC0 1.0)
            </a>{" "}
            license. You can copy, modify, distribute and perform the work, even
            for commercial purposes, all without asking permission.
          </License>
        ) : null
      }
    </Article>
  </div>
</BaseLayout>
