---
import type { CoverType } from "~/components/Cover.astro";
import Post from "~/components/Post.astro";
import { getPosts } from "~/content.ts";
import { getCover } from "~/image.ts";
import FeedLayout from "~/layouts/FeedLayout.astro";

const posts = await getPosts();
const covers = Object.fromEntries(
  await Promise.all(
    posts.map(async (post) => {
      const cover = await getCover(post.data.cover as CoverType);
      return [post.id, cover];
    })
  )
);
---

<FeedLayout
  description=`Welcome to my garden. I write about software development and digital arts.`
  tab="posts"
  title="Posts"
>
  <div class="flex flex-col gap-4" role="feed">
    {
      posts.map((post) => (
        <Post
          date={post.data.date}
          description={post.data.description}
          image={covers[post.id].data.square}
          imageDescription={covers[post.id].data.description}
          link={post.id}
          title={post.data.title}
        />
      ))
    }
  </div>
</FeedLayout>
