---
import type { CoverType } from "~/components/Cover.astro";
import Post from "~/components/Post.astro";
import { getPosts } from "~/content";
import { getCoverData } from "~/image";
import FeedLayout from "~/layouts/FeedLayout.astro";

const posts = await getPosts();
const covers = Object.fromEntries(
  await Promise.all(
    posts.map(async (post) => {
      const cover = await getCoverData(post.data.cover as CoverType);
      return [post.slug, cover];
    })
  )
);
---

<FeedLayout
  tab="posts"
  title="Posts"
  description=`Welcome to my garden. I write about software development and digital arts.`
>
  <div role="feed" class="flex flex-col gap-4">
    {
      posts.map((post) => (
        <Post
          link={post.slug}
          image={covers[post.slug].data.square}
          imageDescription={covers[post.slug].data.description}
          title={post.data.title}
          description={post.data.description}
          date={post.data.date}
        />
      ))
    }
  </div>
</FeedLayout>
