---
import Icon from "@components/Icon.astro";

const { href, alt, icon, overlay, download, className } = Astro.props;
const external = href.startsWith("http");
---

<a
  aria-label={alt}
  href={href}
  download={download}
  target={external ? "_blank" : undefined}
  rel={external ? "noopener noreferrer" : undefined}
  class:list={[
    "transition-ring transition-color group rounded-xl p-2 ring-inset ring-stone-500/50 transition hover:ring-1",
    className,
    !overlay && "hover:bg-stone-500/10",
  ]}
>
  <div
    class="text-md justify-left flex h-full flex-row items-center gap-2 font-bold"
  >
    <Icon src={icon} alt={alt} class="group-hover:scale-100" />
    <slot />
  </div>
</a>
