---
import { Image } from "astro:assets";
import { fade } from "astro:transitions";
import CoverImage from "@components/CoverImage.astro";
import CoverButton from "@components/CoverButton.astro";
import PhotoViewer from "@components/PhotoViewer.tsx";

const {
  image,
  previous,
  next,
  className,
  action_href,
  action_download,
  action_icon,
  action_alt,
} = Astro.props;
---

<div
  class:list={["group relative z-50 w-full max-sm:-mx-4 lg:pt-12", className]}
>
  <div
    class="aspect-video w-full bg-stone-200/20 shadow shadow-stone-800/20 max-sm:aspect-square sm:rounded-2xl lg:scale-125"
  >
    <div transition:animate={fade({ duration: "0.1s" })} class="h-full w-full">
      <CoverImage
        image={image}
        className="object-cover max-sm:w-screen sm:rounded-2xl"
      />
      <div
        class="absolute inset-2 flex flex-row gap-2 max-sm:items-end sm:items-center"
      >
        {
          previous && (
            <a aria-label="Previous" href={previous}>
              <CoverButton alt="Previous" icon="/icons/link-previous.svg" />
            </a>
          )
        }
        <div class="grow"></div>
        <div class="flex h-full flex-col justify-between">
          <PhotoViewer client:only>
            <CoverButton
              slot="button"
              alt="Expand image"
              icon="/icons/link-expand.svg"
            />
            <Image
              slot="image"
              src={image.data.wide}
              alt={image.data.description}
              width={image.data.width}
              height={image.data.height}
              format="jpg"
              class="touch-auto"
            />
          </PhotoViewer>
          {
            next && (
              <a aria-label="Next" href={next}>
                <CoverButton alt="Next" icon="/icons/link-next.svg" />
              </a>
            )
          }
          {
            action_href && (
              <a
                aria-label={action_alt}
                href={action_href}
                download={action_download}
              >
                <CoverButton alt={action_alt} icon={action_icon} />
              </a>
            )
          }
        </div>
      </div>
    </div>
  </div>
</div>
