---
import { Image } from "astro:assets";
import Navigation from "./Navigation.astro";

const {
  image,
  previous,
  next,
  className,
  action_href,
  action_download,
  action_icon,
  action_alt,
} = Astro.props;
---

<div class="group relative pt-12">
  <div class="scale-125">
    <Image
      slot="cover"
      src={image.data.cover}
      alt={image.data.description}
      width={800}
      densities={[1, 2, 3, 4]}
      class:list={[
        "aspect-2 z-10 shadow shadow-stone-900 sm:rounded-2xl",
        className,
      ]}
    />
    {
      previous && (
        <Navigation
          href={previous}
          alt="Previous"
          icon="/icons/link-previous.svg"
          className="absolute inset-y-2 left-2 bg-stone-200/50 opacity-0 transition-opacity hover:bg-stone-200 group-hover:opacity-100 dark:bg-stone-800/50 dark:hover:bg-stone-800"
        />
      )
    }
    {
      next && (
        <Navigation
          href={next}
          alt="Next"
          icon="/icons/link-next.svg"
          className="absolute inset-y-2 right-2 bg-stone-200/50 opacity-0 transition-opacity hover:bg-stone-200 group-hover:opacity-100 dark:bg-stone-800/50 dark:hover:bg-stone-800"
        />
      )
    }
    <Navigation
      href={action_href}
      download={action_download}
      alt={action_alt}
      icon={action_icon}
      className="absolute bottom-2 end-16 bg-stone-200/50 opacity-0 transition-opacity hover:bg-stone-200 group-hover:opacity-100 dark:bg-stone-800/50 dark:hover:bg-stone-800"
      overlay={true}
    />
  </div>
</div>
