---
import Social from "@/components/Social.astro";
import { AUTHOR } from "@/consts";

interface Props {
  license: string;
}
const { license } = Astro.props;
---

<nav
  aria-label="Social profiles"
  class="flex w-full flex-row justify-center"
  transition:persist
>
  {
    AUTHOR.social.map((item) => (
      <Social name={item.name} href={item.url} icon={item.icon} />
    ))
  }
</nav>
<p
  class="w-full text-center text-sm font-thin text-stone-600 dark:text-stone-400"
>
  {license}
  {AUTHOR.name}
</p>

<style is:global>
  @font-face {
    font-family: "CCSymbols";
    src: url("/fonts/CCSymbols.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
</style>
