---
import { Image } from "astro:assets";

const { link, image, title, description, date } = Astro.props;
const formatted_date = date.toLocaleDateString("en-US", {
  month: "short",
  day: "numeric",
  year: "numeric",
});
---

<a
  href={link}
  class="align-center group flex flex-row items-center gap-1 pl-4 ring-inset ring-stone-500/50 transition hover:bg-stone-500/10 hover:ring-1 sm:rounded-xl"
  ,
>
  <div
    class="hidden h-full min-w-fit grow-0 overflow-hidden rounded-2xl shadow shadow-stone-900 transition-all group-hover:scale-[1.15] sm:flex"
  >
    <Image
      src={image}
      alt={title}
      width={256}
      densities={[1, 2, 3, 4]}
      class="transform-all h-full w-32 object-cover"
    />
  </div>
  <div class="group z-10 flex grow-0 flex-col p-4">
    <time datetime={date} class="text-stone-500">{formatted_date}</time>
    <p class="grow text-lg font-bold">{title}</p>
    <p class="line-clamp-3 text-stone-600 dark:text-stone-400">
      {description}
    </p>
  </div>
</a>
