---
import { type ImageMetadata } from "astro";
import { Image } from "astro:assets";
import { formatDate } from "~/date.ts";

interface Props {
  link: string;
  image: ImageMetadata;
  imageDescription: string;
  title: string;
  description: string;
  date: Date;
}
const { link, image, imageDescription, title, description, date } = Astro.props;
---

<article>
  <a
    aria-label={title}
    class:list={[
      "align-center group flex flex-row items-start gap-2 transition",
      "ring-inset ring-stone-500/50 hover:bg-stone-500/10 hover:ring-1 sm:rounded-xl",
    ]}
    href={link}
  >
    <div
      class:list={[
        "flex flex-row overflow-hidden shadow shadow-stone-900",
        "transition-all sm:rounded-2xl sm:group-hover:scale-110",
        "print:block",
      ]}
    >
      <Image
        alt={imageDescription}
        class="transform-all aspect-1 object-cover object-center max-sm:hidden"
        densities={[1, 2, 3, 4]}
        height={160}
        src={image}
        width={160}
      />
    </div>
    <div class="flex-0 group flex flex-1 flex-col px-2 py-2 sm:py-1">
      <time
        class="text-stone-700 dark:text-stone-300 print:!text-black"
        datetime={date.toISOString()}>{formatDate(date)}</time
      >
      <h1 class="mb-2 grow text-xl font-bold">{title}</h1>
      <p
        class="line-clamp-4 font-thin text-stone-600 dark:text-stone-400 print:!text-black"
      >
        {description}
      </p>
    </div>
  </a>
</article>
