---
import Icon from "@components/Icon.astro";

const { name, href, alt, icon } = Astro.props;
const external = Boolean(href.startsWith("http"));
---

<a aria-label={alt} href={href} rel={external ? "nofollow" : undefined}>
  <div
    class="justify-left transition-color group relative flex h-full flex-col items-center justify-end gap-2 p-2 transition-transform hover:opacity-100 sm:opacity-50 sm:hover:scale-110"
  >
    <span
      class="absolute min-w-24 scale-50 text-center align-text-bottom text-xs font-thin opacity-0 transition-all group-hover:-translate-y-10 group-hover:scale-100 group-hover:opacity-100 max-sm:hidden"
    >
      {name}
    </span>
    <Icon src={icon} alt={alt} class="" />
  </div>
</a>
