---
import { type InferGetStaticPropsType } from "astro";
import Cover from "~/components/Cover.astro";
import License from "~/components/License.astro";
import { AUTHOR, SITE } from "~/config.ts";
import { getPhotos } from "~/content.ts";
import { formatDate } from "~/date.ts";
import ArticleLayout from "~/layouts/ArticleLayout.astro";

export async function getStaticPaths() {
  const photos = await getPhotos();
  return photos.map((photo) => ({
    params: { photo: photo.id },
    props: { photo },
  }));
}

type Props = InferGetStaticPropsType<typeof getStaticPaths>;
const { photo } = Astro.props;
const date: Date = photo.data.date;
const photos = await getPhotos();
const index = photos.findIndex((other) => other.id === photo.id);
---

<ArticleLayout
  description={photo.data.description}
  keywords={photo.data.keywords}
  tab="photos"
  title={photo.data.title}
>
  <Cover
    actionAlt="Download photo in full size"
    actionDownload={`${photo.id}.jpg`}
    actionHref={photo.data.wide.src}
    actionIcon="heroicons:archive-box-arrow-down-solid"
    image={photo}
    next={photos[index + 1]?.id}
    previous={photos[index - 1]?.id}
    slot="cover"
  />
  <Fragment slot="content">
    <table>
      {
        photo.data.description && (
          <tr>
            <th>Description</th>
            <td>{photo.data.description}</td>
          </tr>
        )
      }
      <tr><th>Date</th><td>{formatDate(date)}</td></tr>
      {
        photo.data.location && (
          <tr>
            <th>Location</th>
            <td>{photo.data.location}</td>
          </tr>
        )
      }
      {
        photo.data.city && (
          <tr>
            <th>City</th>
            <td>{photo.data.city}</td>
          </tr>
        )
      }
      {
        photo.data.state && (
          <tr>
            <th>State/Region</th>
            <td>{photo.data.state}</td>
          </tr>
        )
      }
      {
        photo.data.country && (
          <tr>
            <th>Country</th>
            <td>{photo.data.country}</td>
          </tr>
        )
      }
      {
        photo.data.camera && (
          <tr>
            <th>Camera</th>
            <td>{photo.data.camera}</td>
          </tr>
        )
      }
      {
        photo.data.lens && (
          <tr>
            <th>Lens</th>
            <td>{photo.data.lens}</td>
          </tr>
        )
      }
      {
        photo.data.software && (
          <tr>
            <th>Editing</th>
            <td>{photo.data.software}</td>
          </tr>
        )
      }
    </table>
  </Fragment>
  <License icons="🅭🅯" slot="license">
    This photograph is provided under a <a
      href={photo.data.license}
      rel="license"
      >Creative Commons Attribution 4.0 International License (CC BY 4.0)</a
    >. You are free to share, copy, distribute, and transmit the work or adapt
    and make commercial use of it, provided that you attribute the work to {
      AUTHOR.name
    } and this website
    <a href={SITE.url}>{SITE.url.host}</a>. For any reuse or distribution, you
    must make clear to others the license terms of this work.
  </License>
</ArticleLayout>
