---
import Article from "~/components/Article.astro";
import BaseLayout from "~/layouts/BaseLayout.astro";

interface Props {
  tab: string;
  title: string;
  description: string;
  date?: Date;
  keywords?: string[];
}

const { tab, title, description, date, keywords } = Astro.props;
---

<BaseLayout
  date={date}   description={description}   keywords={keywords}   tab={tab}   title={title}
>
  <div class="flex flex-col gap-12 lg:gap-24">
    <slot name="cover" />
    <Article date={date} title={title}>
      <slot name="content" />
      <slot name="license" />
    </Article>
  </div>
</BaseLayout>
