---
import { ViewTransitions } from "astro:transitions";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { AUTHOR } from "@consts";

const { tab, title, description, keywords } = Astro.props;
if (!title) {
  throw new Error("Title is required for all pages.");
}
if (!description) {
  throw new Error("Description is required for all pages.");
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="author" content={AUTHOR.name} />
    <meta name="description" content={description} />
    <meta name="keywords" content={(keywords ?? []).join(", ")} />
    <ViewTransitions />
  </head>
  <body
    class="mx-auto flex min-h-screen max-w-screen-md flex-col gap-0 bg-stone-300 text-black transition-colors sm:px-4 dark:bg-stone-700 dark:text-white"
  >
    <header class="text-left">
      <Header tab={tab} />
    </header>
    <main
      class="flex-1 rounded-b-3xl bg-stone-200 text-left shadow shadow-stone-900/20 dark:bg-stone-800"
    >
      <slot />
    </main>
    <footer class="stext-left flex flex-row justify-center gap-0">
      <Footer />
    </footer>
  </body>
</html>
