---
import { ViewTransitions } from "astro:transitions";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { AUTHOR } from "@consts";

const { tab, title, description, keywords } = Astro.props;
if (!title) {
  throw new Error("Title is required for all pages.");
}
if (!description) {
  throw new Error("Description is required for all pages.");
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="author" content={AUTHOR.name} />
    <meta name="description" content={description} />
    <meta name="keywords" content={(keywords ?? []).join(", ")} />
    <ViewTransitions />
  </head>
  <body
    class="relative mx-auto flex min-h-screen max-w-screen-md flex-col items-center gap-0 overflow-y-scroll bg-stone-300 text-black dark:bg-stone-700 dark:text-white"
  >
    <header class="w-full text-left">
      <Header tab={tab} />
    </header>
    <main
      class="z-0 w-full flex-1 bg-stone-200 px-4 pb-4 pt-0 text-left shadow shadow-stone-900/20 sm:rounded-b-3xl sm:rounded-t-xl dark:bg-stone-800"
    >
      <div
        class="absolute left-0 h-16 w-full bg-stone-200 max-sm:top-12 sm:top-20 sm:rounded-t-3xl dark:bg-stone-800"
      >
      </div>
      <slot />
    </main>
    <footer
      class="flex w-full flex-row justify-center gap-0 text-left"
      transition:persist
    >
      <Footer />
    </footer>
  </body>
</html>
