---
import "@fontsource/fira-code";
import "@fontsource/fira-sans";
import Analytics from "@vercel/analytics/astro";
import SpeedInsights from "@vercel/speed-insights/astro";
import { SEO } from "astro-seo";
import { ClientRouter } from "astro:transitions";
import Footer from "~/components/Footer.astro";
import Header from "~/components/Header.astro";
import { AUTHOR, DIMENSIONS, SITE } from "~/config.ts";
import { formatDateIso } from "~/date.ts";
import { getFavicon } from "~/image.ts";
import { getCanonicalChildPath } from "~/url.ts";

interface Props {
  tab: string;
  title: string;
  description: string;
  date?: Date;
  seo?: boolean;
  keywords?: string[];
  class?: string;
}

const {
  tab,
  title,
  description,
  date,
  seo = true,
  keywords,
  class: className,
} = Astro.props;

const ogImage = getCanonicalChildPath(Astro.url, "og.jpg");
const appleTouchIcon = await getFavicon(180);
const favicon = await getFavicon(180);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta content={AUTHOR.name} name="author" />
    <meta content={description} name="description" />
    <meta content={(keywords ?? []).join(", ")} name="keywords" />
    {
      seo ? (
        <>
          <SEO
            openGraph={{
              basic: {
                title: `${title} — ${AUTHOR.name}`,
                type: date !== undefined ? "article" : "website",
                image: ogImage.href,
                url: `${SITE.url}${Astro.url.pathname}`,
              },
              optional: {
                description,
                locale: "en",
                siteName: SITE.domain,
              },
              article: {
                publishedTime: formatDateIso(date) ?? "",
                authors: [AUTHOR.name],
                tags: keywords ?? [],
              },
              image: { type: `image/jpeg`, ...DIMENSIONS.opengraph.target },
            }}
            twitter={{
              card: "summary_large_image",
              title,
              description,
              image: ogImage,
            }}
          />
        </>
      ) : undefined
    }
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content={Astro.generator} name="generator" />
    <link href="/sitemap-index.xml" rel="sitemap" />
    <link href="/favicon.ico" rel="icon" sizes="32x32" />
    <link
      href={favicon.src}
      rel="icon"
      type={`image/${favicon.options.format}`}
    />
    <link href={appleTouchIcon.src} rel="apple-touch-icon" />
    <link href="/manifest.json" rel="manifest" />
    <ClientRouter />
    <Analytics />
    <SpeedInsights />
  </head>
  <body
    class:list={[
      "relative flex flex-row gap-0",
      "from-stone-400 to-stone-300 dark:from-stone-600 dark:to-stone-700 sm:bg-gradient-to-b",
      "bg-stone-400 dark:bg-stone-600",
      "text-black dark:text-white print:!text-black",
    ]}
    data-tab={tab}
  >
    <style>
      @font-face {
        font-family: "CCSymbols";
        src: url("/fonts/CCSymbols.woff") format("woff");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
    </style>
    <div class="flex-1"></div>
    <div class="flex min-h-screen w-full max-w-screen-md flex-col items-center">
      <Header class="print:hidden" />
      <main
        class:list={[
          "z-10 w-full flex-1 text-left sm:p-4",
          "sm:rounded-b-3xl sm:rounded-t-xl print:rounded-none",
          "shadow-lg shadow-stone-900/20 print:shadow-none",
          "bg-stone-200 dark:bg-stone-800 print:!bg-white",
          className,
        ]}
      >
        <slot />
      </main>
      <Footer class="w-full print:hidden" />
    </div>
    <div class="flex-1"></div>
  </body>
</html>
