---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getChildUrl } from "@/url";
import { Icon } from "astro-icon/components";

interface Props {
  tab: string;
  title: string;
  description: string;
  ogImage?: ImageMetadata;
}

const { tab, title, description, ogImage: ogImageSquare } = Astro.props;
const feedUrl = getChildUrl(Astro.url, "feed");
---

<BaseLayout
  tab={tab}
  title={title}
  description={description}
  class="flex flex-col sm:gap-12"
  ogImage={ogImageSquare}
>
  <div class="items-between flex flex-row justify-between gap-8 max-sm:p-4">
    <p
      class="text-lg font-thin italic text-stone-700 dark:text-stone-300 print:!text-black"
    >
      {description}
    </p>
    <a
      aria-label="RSS feed"
      href={feedUrl}
      class="h-fit transition-transform hover:scale-110 hover:opacity-100 sm:opacity-75 print:hidden"
    >
      <Icon name="heroicons:rss-solid" size={24} />
    </a>
  </div>
  <slot />
</BaseLayout>
