---
import { Icon } from "astro-icon/components";
import BaseLayout from "~/layouts/BaseLayout.astro";
import { getUrl } from "~/url";

interface Props {
  tab: string;
  title: string;
  description: string;
}

const { tab, title, description } = Astro.props;
const feedUrl = getUrl(Astro.url, Astro.url.pathname, "feed").pathname;
---

<BaseLayout
  class="flex flex-col sm:gap-12"
  description={description}
  tab={tab}
  title={title}
>
  <div class="items-between flex flex-row justify-between gap-8 max-sm:p-4">
    <p
      class="text-lg font-thin italic text-stone-700 dark:text-stone-300 print:!text-black"
    >
      {description}
    </p>
    <a
      aria-label="RSS feed"
      class="h-fit transition-transform hover:scale-110 hover:opacity-100 sm:opacity-75 print:hidden"
      href={feedUrl}
    >
      <Icon name="heroicons:rss-solid" size={24} />
    </a>
  </div>
  <slot />
</BaseLayout>
